doctype html
html(lang="pt-BR")
 head
 //- A variável 'title' será passada pelo nosso controller
 title= title
 body
 //- A variável 'message' também virá do controller
 h1= message
 p Este é seu primeiro template PUG renderizado pelo servidor!