code
Pug
// src/views/pets.pug

doctype html
html(lang="pt-BR")
  head
    title= title
    // Adicionaremos nosso CSS aqui mais tarde
  body
    h1 Lista de Pets Cadastrados

    //- Condicional: verifica se a lista de pets não está vazia
    if pets.length > 0
      //- Laço: itera sobre cada 'pet' no array 'pets'
      each pet in pets
        div.pet-card
          h3= pet.nome
          p 
            strong Espécie: 
            span= pet.especie
          //- Condicional dentro do laço
          if pet.raca
            p 
              strong Raça: 
              span= pet.raca
    else
      //- Mensagem para o caso de não haver pets
      p Nenhum pet cadastrado no momento.